@import "mainCSS/colores.css";

/* estilos para las primeras 2 secciones de los platos */
section{
    width: 100%;
    height: 900px;
    background-color: var( --color-2);
}
.plato-1{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}
.plato-promocional-img{
    height: 400px;
}
.plato-2{
    background-color: var(--color-4);
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: right;
}
.contenedor-contenido{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.boton-ver-receta{
    border-radius: 5px;
    width: 156px;
    background-color: var(--color-1);
    border: none;
    transition: all 0.3s;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.59);
    height: 30px;
}
.boton-ver-receta:hover{ /*button*/
    cursor: pointer;
    transform: scale(1.2);
}

/* estilos para la seccion de menu */
.contenedor-menu{
    text-align: center;
}
.contenedor-menu h2{
    padding-top: 70px;
    padding-bottom: 30px;
}
.contenedor-platos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 700px;
}
.plato img{
    height: 150px;
    
}
.plato{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.contenedor-info-platos{
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: space-evenly;
}
.boton-receta-menu{
    width: 150px;
}

/* estilos dela seccion de la informacion de la empresa */
.empresa-info{
    background-color: var(--color-4);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contenido-info-empresa{
    text-align: center;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.contenedor-info-empresa img{
    height: 300px;
}
.contenedor-eslogan{
    height: 350px;
    width: 500px;
    display: flex;
    align-items: center;
}
@media (max-width: 991.98px) { 
    .plato-1{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .contenedor-contenido{
        text-align: center;
    }
    .plato-2{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .contenedor-eslogan{
        width: 300px;
    }
}
@media (max-width: 767.98px) { 
    .contenedor-platos{
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
    .contenedor-menu{
        height: 1000px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }
    .contenedor-menu h2{
        padding-top: 0 ;
    }
    .container-boton-receta-menu{
        position: relative;
        bottom: -40px;
    }
    .contenedor-eslogan{
        width: 200px;
    }
    .plato-promocional-img{
        height: 300px;
    }
}
@media (max-width: 575.98px) {
    .empresa-info{
        flex-direction: column;
    }
    .contenedor-eslogan{
        display: flex;
        justify-content: center;
        width: 400px;
    }

}