:root {
    --color-1: #EBE6EA;
    --color-2: #E4C5C4;
    --color-3: #C8AD8D;
    --color-4: #6F7357;
    --color-5: #273A2D;
    --color-scroll: rgb(95, 139, 104);
    --color-scroll-active: rgb(58, 82, 63);
}

